extends layout 

block content
  h1.text-center.p-4 #{title}
  .container-sm.w-50.p-3.mw-50
    form(action="/" method="Post")
      .form-group.m-3
        input(class="form-control border-0 rounded-0 p-2" type="text", name="username" placeholder="username")
        if path == 'username'
          p #{message}
      .form-group.m-3
        input(class="form-control border-0 rounded-0 p-2" type="email", name="email" placeholder='email')
        if path == 'email'
          p #{message}
      .form-group.m-3
        input(class="form-control border-0 rounded-0 p-2" type="password", name="password" placeholder="password")
      button(type="submit" class="btn btn-primary border-0 rounded-0 m-3") Submit
      
