extends layout 

block content
  .main
    .left-side
      h1 what will you
        br/ build today?
      p let's get started
    form.right-side(action="/" method="Post")
      .user-profile
        img(src="/imeges/ben-den-engelsen-YUu9UAcOKZ4-unsplash.jpg", alt="user-profile")
      p do you have account?
        a(href="/login") signin
      .user.border.border-primary
        i(class="fa-solid fa-user")
        input(class="p-2 border-0" type="text", name="username" placeholder="username")
      if message.path == 'username'
        p.alert.alert-danger #{message.error}
          i(class="fa-solid fa-circle-exclamation")
      .email.border.border-primary
        i(class="fa-solid fa-envelope")
        input(class="p-2 border-0" type="email", name="email" placeholder='email')
      if message.path == 'email'
        p.alert.alert-danger #{message.error}
          i(class="fa-solid fa-circle-exclamation")
      .password.border.border-primary
        i(class="fa-solid fa-lock")
        input(class="p-2 border-0" type="password", name="password" placeholder="password")
      button(type="submit") Submit
        
