
extends layout 

block content
  .main
    .left-side
      h1 what will you
        br/ build today?
      p let's get started
    form.right-side(action="/login" method="Post")
      .user-profile
        img(src="/imeges/ben-den-engelsen-YUu9UAcOKZ4-unsplash.jpg", alt="user-profile")
      p don't have account?
        a(href="/") signup 
      .email.border.border-primary
        i(class="fa-solid fa-envelope")
        input(class="p-2 border-0" type="email", name="email" placeholder='email')
      .password.border.border-primary
        i(class="fa-solid fa-lock")
        input(class="p-2 border-0" type="password", name="password" placeholder="password")
      button(type="submit") Login
      if loggedin 
        p.alert.alert-success #{loggedin}
        
